 @import url('http://fonts.cdnfonts.com/css/homer-simpson-revised');

body{
	background-image: url(inicial.jpg);
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;
	 background-attachment: fixed;
}

h1, h2{
	color: yellow;
	font-family: 'Homer Simpson Revised', sans-serif;
	font-size: 40px;

}
h1{
	margin-left: 260px;
	margin-top: 150px;
}
h2{
	margin-left: 172px;
	margin-bottom: 10px;
}
button{
	
	width: 200px;
	height: 40px;
	margin-left: 25px;
	font-size: 16px;
	cursor: pointer;
	letter-spacing: .1px;
	outline: none;
	border: none;
	border-radius: 8px;
	box-shadow: 0 0 0 2px #f7f7f7;
	background-color: transparent;
	transition: all 200ms ease-in-out;
	font-family: 'Homer Simpson Revised', sans-serif;
	text-decoration-color: yellow;
	margin-top: 50px;

}
button:hover{
	transform: scale(1.1);
	background-color: #f7f7f7;
	color: yellow;
	font-weight: bold;
	box-shadow: 0 0 0 2px yellow;
	letter-spacing: 1.1px;
	border-top-left-radius: 16px;
	border-bottom-right-radius: 16px;

	 
}
button:active {
   transform: scale(1);

}
div{
	margin-top: 20px;
	margin-left: 170px;
}
a{
	color: black;
	text-decoration: none;
}


